a {
  text-decoration:none;
  font-size:25px;
  color:black;
}
a:hover {
  background-color:black;
  color:white;
  font-size:35px;
}
#Home {
  height:100%;
  background-color:black;
}
#About {
  font-size:25px;
  color:black;
  letter-spacing:2px;
  height:70%;
}
p {
  text-align:center
}
h1 {
  text-align:center;
}
input {
  margin-left:35%;
  text-align:center;
  font-size:20px;
}
